<!-- Header -->
<div id="header-wrapper" class="w-full flex justify-center">
  <header
    id="main-header"
    class="w-full max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-8 pt-4 sm:pt-8 right-0 z-50 transition-colors duration-300"
  >
    <nav class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-2 sm:gap-0">
      <a href="/" class="text-base sm:text-md font-semibold text-primary header-text"
        >{{ if .IsHome }}{{ .Site.Params.header.homeTitle }}{{ else }}{{ .Site.Params.header.title }}{{ end }}</a
      >
      <div class="flex flex-wrap gap-2 sm:gap-4 sm:space-x-4 sm:space-x-8">
        {{ if .Params.customMenu }}
          {{ range .Params.customMenu }}
            <a href="{{ .url }}" class="nav-item text-sm sm:text-md text-primary hover:text-primary/80 hover:underline transition-colors font-semibold header-text"
              >{{ .title }}</a
            >
          {{ end }}
        {{ else }}
          {{ range .Site.Params.header.items }}
          <a
            href="{{ if $.IsHome }}{{ .homeHref }}{{ else }}{{ .href }}{{ end }}"
            class="nav-item text-sm sm:text-md text-primary hover:text-primary/80 hover:underline transition-colors font-semibold header-text"
            >/{{ .text }}</a
          >
          {{ end }}
        {{ end }}
      </div>
    </nav>
  </header>
</div>
